# **Lab 4**

## Data Wrangling

In this lab, you will learn various ways of manipulating (including some cleaning) data such as <font color="red">merging data, duplicate removal, addressing missing data and transformation functions and mappings</font>. You will also go through two sample use cases using <font color="red">car price data and minimum wage data</font>, and proceed to apply some of these techniques learned earlier. Finally, the processed data is turned into some simple descriptive analytics to churn out meaningful insights from visualizations.

> **Credit note:** A portion of this lab was adapted from [this fantastic tutorial](https://lectures.quantecon.org/py/pandas_panel.html) from QuantEcon and `prakharrathi25`'s [Kaggle kernel](https://www.kaggle.com/prakharrathi25/data-wrangling/) on data wrangling.

**Q1**: Replace the NaN data in `normalized-loss`, `peak-rpm`, `horsepower`, `bore`, `stroke` with their respective mean values.

In [1]:
# fill in here

cars[['normalized-losses','peak-rpm','horsepower','bore','stroke']] = \
cars[['normalized-losses','peak-rpm','horsepower','bore','stroke']].apply(pd.to_numeric,errors='coerce')
print(cars.mean(numeric_only=True))
cars.fillna(cars.mean(numeric_only=True),inplace=True)
cars
# note: Pandas cannot convert NaN to integer or floats, so to solve this
# we need to convert the dataframe to numeric with errors=coerce option
# after that, we can safely compute the mean, ignoring those

NameError: name 'cars' is not defined

**Q2**: Drop all rows that do not have the price data. **Hint**: Use dropna(), specify which column to operate on with `subset` parameter

<font color='red'>subset: array-like, optional
Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.</font>

In [ ]:
# fill in here
cars.dropna(subset=['price'],inplace=True)
cars.isnull().sum()

A more common way of normalizing is to use both the minimum and maximum to adjust the values. This is called a min-max normalization.

$$\hat{x} = \frac{x-x_{min}}{x_{max}-x_{min}}$$

**Q3**: Compute the z-normalized value for `engine-size` and replace its values in `cars2` dataframe.

$$\hat{x} = \frac{x-\mu}{\sigma}$$

In [ ]:
# fill in here
#print(cars2.mean())
#print(cars2.std())
numeric_cols = cars2.select_dtypes(include=[np.number]).columns
cars3 = cars.copy()
cars3[numeric_cols] = (cars3[numeric_cols] - cars[numeric_cols].mean())/cars[numeric_cols].std()
print(cars3[numeric_cols])

# there are 2 other ways to do this: using pandas apply() with lambda function, use scipy.stats zscore function
from scipy.stats import zscore
numeric_cols = cars2.select_dtypes(include=[np.number]).columns
print(cars2[numeric_cols].apply(zscore))

**Q4**: Figure out how to aggregate over columns, giving the average minimum wage for all countries over the time period. (Hint: the `axis` by default is aggregating over rows).This is what we call a *time series* graph, data over time.

In [ ]:
# write your code here
wage_f.mean(axis=1).sort_values(ascending=False).plot(kind='line', title="Average minimum wage 2006 - 2016")