# **Lab 2**

## Handling Data in Python

**Q1**: Write some code:
<ol type="a">
<li>to extract all the names of the clinics from the data into another new list. (You can use list comprehension!)</li> 
<li>to count the total number of clinics</li>
</ol>

In [2]:
import csv
with open('clinic1M.csv') as csv_file:
    csv_reader = list(csv.reader(csv_file, delimiter=','))
    # fill in your code
    clinic_names = [x[1] for x in csv_reader] ###select column and read rows
    clinic_names.pop(0) ###make sure is starts from correct row
    n = len(clinic_names) ###quick way to find out total

print(clinic_names)
print(n)

['Klinik 1 Malaysia Alma Jaya', 'Klinik 1 Malaysia Aulong', 'Klinik 1 Malaysia Bandar Lela', 'Klinik 1 Malaysia Bandar Puteri Jaya', 'Klinik 1 Malaysia Bandar seri Iskandar', 'Klinik 1 Malaysia Bandar Sri Alam', 'Klinik 1 Malaysia Bandar Sri Indah', 'Klinik 1 Malaysia Batu Berendam', 'Klinik 1 Malaysia Seremban Jaya', 'Klinik 1 Malaysia Seri Pengkalan', 'Klinik 1 Malaysia Sri Stulang', 'Klinik 1 Malaysia Batu Kawan', 'Klinik 1 Malaysia Batu Melintang', 'Klinik 1 Malaysia Bercham', 'Klinik 1 Malaysia Binjai', 'Klinik 1 Malaysia Bukit Beruntung', 'Klinik 1 Malaysia Bukit Katil', 'Klinik 1 Malaysia Bukit Payong', 'Klinik 1 Malaysia Bukit Sentosa', 'Klinik 1 Malaysia Bundusan Square', 'Klinik 1 Malaysia Cakerapurnama', 'Klinik 1 Malaysia Desa Rejang', 'Klinik 1 Malaysia Kg Padang Jaya', 'Klinik 1 Malaysia Kota Bharu', 'Klinik 1 Malaysia Bandar seri Iskandar', 'Klinik 1 Malaysia Intan Baiduri', 'Klinik 1 Malaysia Jalan Teku', 'Klinik 1 Malaysia Jelawat', 'Klinik 1 Malaysia Jelutong', 'Klinik 1 Malaysia Kangar', 'Klinik 1 Malaysia Kg Padang Jaya', 'Klinik 1 Malaysia Kota Bharu', 'Klinik 1 Malaysia Kota Kenari', 'Klinik 1 Malaysia Lembah Subang', 'Klinik 1 Malaysia Matang Jaya', 'Klinik 1 Malaysia Pengkalan Batu', 'Klinik 1 Malaysia Perkasa', 'Klinik 1 Malaysia PJS 6', 'Klinik 1 Malaysia Seremban Jaya', 'Klinik 1 Malaysia Seri Pengkalan', 'Klinik 1 Malaysia Sri Stulang', 'Klinik 1 Malaysia Kg Padang Jaya', 'Klinik 1 Malaysia Sulaman Sentral', 'Klinik 1 Malaysia Sungai Ara', 'Klinik 1 Malaysia Sungai Plan', 'Klinik 1 Malaysia Taman Gombak Permai', 'Klinik 1 Malaysia Taman Kempadang Makmur', 'Klinik 1 Malaysia Taman Manis', 'Klinik 1 Malaysia Taman Megah Ria', 'Klinik 1 Malaysia Taman Melati', 'Klinik 1 Malaysia Taman Pagoh Jaya', 'Klinik 1 Malaysia Taman Rasah Jaya', 'Klinik 1 Malaysia Taman Semarak 2', 'Klinik 1 Malaysia Taman Seri Lambak', 'Klinik 1 Malaysia Taman Tunku', 'Klinik 1 Malaysia Teluk Air Tawar', 'Klinik 1 Malaysia Teluk Intan', 'Klinik 1 Malaysia Temerloh', 'Klinik 1 Malaysia Wakaf Baru', 'Klinik 1Malaysia Kerinchi']
60

## Alternative solution to Q1

In [ ]:
with open('clinic1M.csv') as csv_file:
    csv_reader = list(csv.reader(csv_file, delimiter=','))
    # fill in your code
    clinic_names = [col[1] for col in csv_reader][1:]    # using list comprehension
    
    # for loop way
    clinic_names = []   # empty list
    for i in csv_reader[1:]:
       clinic_names.append(i[1])

print(clinic_names)
print("Total number of 1M clinics: ", len(clinic_names))

If you ever need <font color='red'>to make permanent changes (overwriting the original data)</font>, you can use the parameter `inplace=True` to perform this [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) operation "in place", in the original dataframe.

**Q2**: Write the code (one line only!) to drop the "patients" column from DataFrame `fr2`. Ensure that the modification is done on the original dataframe.

In [ ]:
# fill in here
fr2.drop(columns='patients',inplace=True)

## Additional Exercises:

**AE1**: Multiply A with B, and then multiply A with C. Observe the outcome of two multiplication of Numpy arrays.

In [ ]:
A = np.array([[1,3,5],[2,4,6]])
B = np.array([9, 8, 7])
C = np.array([[0,1],[1,0]])
print(A.shape)
print(B.shape)
print(C.shape)
# more codes to add

A_B = A*B
#A_C = A*C

print(A_B)
#print(A_C)

**AE2**: Using the "clinic1M.csv" data file, count the number of clinics in each state.

In [ ]:
df

In [ ]:
places = pd.DataFrame(df['address2']) ###extract address with states
places[['district','state']] = places['address2'].str.split(',',expand=True) ###split the district and states into own columns, Q: why the commas doesn't work like others?
places['state'].replace(np.nan,'N/A',inplace=True) 
states = places['state'].unique() ###get unique states
states_total = [len(places[x == places['state']]) for x in states]###get the count for each state by comparing with unique list
#print(states)
#print(states_total)
###optional: place answers in a dataframe
state_clinics = pd.DataFrame(states,columns=['states'])
state_clinics['total'] = pd.Series(states_total)
print(state_clinics['total'].sum())
state_clinics